img{
    height: 200px;
    width: 200px;
}
h1{
    color:darkorchid
}
#Learn{
    color:navy
}
#red{
    color:red
}

#blue{
    color:darkcyan
}

#orange{
    color:orange
}
#green{
    color:green
}
#yellow{
    color:yellow
}